# NextAuth
NEXTAUTH_SECRET=  # genera con: openssl rand -base64 32
NEXTAUTH_URL=https://beel-azure.vercel.app

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API Backend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
